<a href="/view_recipe/{{id}}">
<div class="card tile ph3 pv5 ma2 mr1 items-center {{os}}">

    <h2>{{title}}</h2>
    <h3 class="operating-system {{os}}_icon" >{{os}}</h3> 
    {{!-- ^ this will be replaced by icon --}}
    <div class="description-box mt2"><p>{{description}}</p></div>
    <a class="username pb2 tl pl2" href="/search/{{creatorId}}">Username{{creatorName}}</a>
</div>
</a>
