<div
  class="step sequence-{{sequence}}
    mb5 mt2 pa3 pt4 flex justify-center items-center tc"
>

  <p class="grow delete-btn {{#if first}}hide{{/if}}" id="delete-step-{{sequence}}">Delete Step</p>

  <p class="step-sequence grow">Step <span>{{sequence}}</span>.</p>
  {{! change sequence button ^ eventually }}
  <textarea
    class="tc step-input-text pa2 input-reset ba bg-transparent"
    type="text"
    id="step-{{sequence}}"
    value="{{text}}"
  >{{text}}</textarea>

  <p class="note edit-note grow" id="edit-note-{{sequence}}">{{#if notes}}Edit
      Note{{else}}Add Note{{/if}}</p>

  <input
    class="note-text white dtc v-mid child bg-black-40 pa1"
    style="display:none;"
    id="note-text-{{sequence}}"
    value="{{notes}}"
  />
  <p id="sequence-{{sequence}}" class="grow add-step inside pointer">
    V Add Step V
  </p>
</div>