<div class="step {{os}} mb4 mt2 pa3 pt4 flex justify-center items-center tc" id="sequence-{{sequence}}">
<p class="step-sequence">Step {{sequence}}.</p>

<p>{{text}}</p>


{{#if notes}}
<button class="notes-button grow" id="show-note-{{sequence}}">Notes</button>
      <span class="note-text white dtc v-mid child bg-black-40 pa1" id="note-text-{{sequence}}">
    {{notes}}
  </span>
{{/if}}




</div>

