{{!-- # Recipe editing page --}}

{{> heading tag='h2' title=this.title}}
<div class="flex justify-between">
    <h4 class=" pb2 mb2 mh4 {{os}}">OS: <span id="os">{{os}}</span></h4>
    <span class="flex pr4"><p id="save-btn" class="mr4 pointer">Save</p><p id="delete-recipe-btn" class="mr4 pointer">Delete</p><a href="/view_recipe/{{recipeId}}">Leave Editor</a></span>
</div>
{{!-- <div class="flex justify-between">
<h4 class=" pb2 mb2 mh4 {{os}}">OS: {{os}}</h4>
    <a class="pr4" href="/edit_recipe/{{this.recipeId}}">EDIT</a>
</div> --}}
<section class="flex flex-auto items-start justify-center">
    <form id='recipe-form'>

        {{#each steps}}
        {{> stepEdit sequence=this.sequence text=this.content notes=this.notes}}
        {{/each}}
    </form>


</section>



<script src="/js/editRecipe.js"></script>

